@import url('https://fonts.googleapis.com/css?family=Kelly+Slab');

$bg-black: #000000;
$red: #DA251D;
$bloody-red: #820004;
$light-gray: #E9E9E9;
$hover-orange: #ff5733;

* {
  margin: 0;
  padding: 0;

  font-size: 20px;
}